* {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;

}

/* header desktop */
header {
    background-color: #468C98;
}

.row-limit-size {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    overflow: auto;

}

#logo {
    float: left;
}

#main-menu {
    float: right;


}

#main-menu>ul {
    display: flex;
    margin-right: 150px;
}

#main-menu>ul>li {
    list-style: none;
    display: block;

}

#main-menu>ul>li>a {
    height: 50px;
    display: block;
    padding: 0 15px;
    background-color: #468C98;
    line-height: 50px;
    color: #000;
    transition: all 0.5s ease;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 1rem;

}

#burger,
#close {
    display: none;
}

#header {
    width: 100%;
    background-color: rgba(70, 140, 152, .2);

}

#title {
    color: white;
    position: absolute;
    top: 15%;
    right: 35%;
    font-size: 3rem;

}

iframe {
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
    display: block;
    opacity: 1;
    padding: 30px 0;
}

hr {
    color: white;
    height: 2px;
    background-color: white;
}

/* phone header */


@media screen and (max-width : 375px) {
    #main-menu {
        display: none;
        text-decoration: none;
        color: #000;
        font-size: 0.8rem;
        font-weight: bold;
        text-align: center;
        width: 100%;
        overflow: auto;
        position: absolute;
        top: 0;
        z-index: 9999;


    }

    #main-menu.active {
        display: block;
        height: 30vh;
        background-color: #468C98;
        opacity: 1;


    }

    #main-menu ul {
        flex-direction: column;

        list-style-type: none;
        width: 100%;
    }

    #burger {
        display: block;
        float: right;
        margin: 10px 10px 0 0;
        cursor: pointer;

    }

    #main-menu>ul>li {
        width: 100%;
        border: 1px solid #999;
        background-color: #468C98;
    }

    #main-menu>ul>li>a {

        text-align: center;
        background-color: #468C98;
        color: black;

        height: 50px;

        padding: 0 15px;
        line-height: 50px;

        transition: all 0.5s ease;
    }

    #main-menu.active>ul>li:hover>a {
        background-color: white;
        color: #468C98;
    }

    #close {
        display: block;
        font-size: 2rem;
        color: #000;
        position: absolute;
        right: 10px;
        top: 5px;
        cursor: pointer;
    }

    iframe {
        width: 375px;
        /* padding-bottom: 30px; */

    }

    #title {

        position: absolute;
        top: 15%;
        right: 25%;
        color: rgb(248, 248, 248);
    }

    #title h1,
    h2 {
        text-align: center;

    }


}

/* desktop gite */
#gite {
    background-color: rgba(70, 140, 152, .2);
    padding-top: 30px;
}

.blue {
    font-size: 3rem;
    color: #1F01B9;
}

#txtgite {
    width: 50%;
    margin: 0 auto;
    float: left;
    padding-right: 30px;
}

#txtgite h2 {
    text-align: center;
    padding: 30px 10px;
}

p {
    font-weight: bold;
    font-size: 1rem;
}



#imgite {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 0;
}

.big {
    width: 342px;
    height: 155px;
    padding: 10px 0;
}

.mini {
    width: 216px;
    height: 155px;
    padding: 10px 0;
}

/* gite phone */


@media screen and (max-width : 375px) {
    iframe {
        padding-top: 0;
    }

    #title {
        font-size: 1.4em;
        right: 15%;
        top: 12%;
    }

    #txtgite {
        width: 360px;
        padding: 0 10px;
    }

    .blue {
        font-size: 1.2 rem;

    }

    p {
        font-size: 0.8rem;
        font-weight: bold;
        padding: 30px 0;
    }

    #imgite {
        width: 100%;
        /* text-align: center; */
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #imgite img {
        width: 365px;
        height: 200px;
        padding: 10px 0;
    }

}

/* activity desktop */

#activity {
    background-color: rgba(70, 140, 152, .2);
}

#activity h2 {
    text-align: center;
    padding: 60px 0;
}

#imgActivity {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    float: left;
}

#txtActivity {
    float: right;
    width: 45%;
}

#txtActivity img {
    width: 482px;
    padding-top: 50px;
}

#txtActivity p {
    padding-top: 10px;
}



/* media screen activity */

@media screen and (max-width : 375px) {
    #txtActivity {
        float: none;
    }

    #imgActivity {
        width: 100%;
        float: none;
        justify-content: center;
    }

    #imgActivity img {
        width: 355px;
        height: 200px;


    }

    #txtActivity p {
        margin: 20px 10px;
        text-align: left;
        width: 355px;
    }

    #txtActivity img {
        width: 355px;
        margin: 0 10px;
        padding-top: 0;
    }

}

/* desktop prices */
#price {
    background-color: rgba(70, 140, 152, .2);
}

#price h2 {
    padding-top: 50px;
    text-align: center;
}

#price table {
    width: 960px;
    height: 249px;
    margin: 50px auto;
}

th,
td {
    border: 2px solid #d5d5d5;
    background-color: white;
    text-align: center;
}

/* media screen price */

@media screen and (max-width : 375px) {
    #price table {
        width: 361px;
        height: 424px;
    }
}

/* footer desktop */
footer {

    background-color: rgb(226, 218, 186);
}

.brown {
    color: #796A49;
    font-size: 40px;
    padding-bottom: 30px;
}

/* desktop footer */
footer {
    padding-top: 30px;
}

#leftFooter {
    float: left;
    width: 50%;
}

#rightFooter {
    float: right;
    width: 50%;
}

#txtFooter h5 {
    color: #796A49;
    font-size: 1.4rem;
}

#txtFooter a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-family: 'PT Sans', sans-serif;
    padding-bottom: 30px;
    display: block;
}

#rightFooter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

#rightFooter #name,
#email,
#message,
button {
    width: 90%;
    margin: 10px 0;
    font-weight: bold;
    font-family: 'PT sans', sans-serif;
    font-size: 1rem;
}

#rightFooter button {
    color: white;
    background-color: #AB2424;
    margin-bottom: 20px;
    border: none;
}

#rightFooter #name,
#email,
#message {
    border: 2px solid #d5d5d5;
    color: #C5C5C5;

}

#end {
    background-color: rgb(226, 218, 186);
    overflow: auto;
    position: relative;

}

#end h6 {
    float: left;
    position: absolute;
    bottom: 1%;
}

#icon {
    float: right;
    height: 25px;
    line-height: 25px;
}

#twit {
    padding-bottom: 4px;
}

#icon #insta {
    height: 25px;
    width: 25px;
}

/* media phone footer */


@media screen and (max-width : 375px) {
    #leftFooter {
        float: none;
        width: 100%;
    }

    #rightFooter {
        float: right;
        width: 100%;
    }

    #txtFooter {
        padding: 30px 0 0 10px;
    }

    #txtFooter h5 {
        font-size: 1rem;
    }


    #txtFooter p {
        padding-top: 0;
    }

    #rightFooter form {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

}